@import "colors.scss";

.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 60px;
  margin-left: 60px;
  > *:not(:first-child) {
    margin-left: 120px;
  }

  &-item {
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
  }

  &-link {
    text-decoration: none;
    font-size: 22px;
  }

  &-underscore {
    height: 1px;
    background: $color-primary;
    width: 200px;
    position: absolute;
    transition: all 0.35s;
  }
}
