.form {
    width: 530px;


    &-items {
        margin-top: 80px;
        display: flex;
        flex-flow: column nowrap;
        >* {
            margin-bottom: 15px;
        }
    }


    &-button-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

    }
    &-textarea {
        resize: vertical;
        padding-top: 20px;
        max-height: 150px;
        height: 44px;
        min-height: 44px;
    }
}