<div class="form">
    <div class="hb-header-2">{{formModel.header}}</div>
    <form class="form-items" [formGroup]="formBuild">
        <ng-container *ngFor="let item of formModel.items;index as i;">
            <input [formControlName]="item.name" type="text" class="hb-input" [placeholder]="item.placeholder" *ngIf="!item.selections"
                (click)="selectField(item.name)">

            <ng-container *ngIf="!!item.selections">
                <input type="text" [attr.list]="'datalist-'+i" [placeholder]="item.placeholder" [formControlName]="item.name" 
                class="hb-input hb-input--selectable"
                [class.hb-input--selected]="formBuild.controls[item.name].value !== null" />
                <datalist id="datalist-{{i}}" >
                    <option *ngFor="let select of item.selections" [value]="select">{{select}}</option>
                </datalist>
               
            </ng-container>
        </ng-container>
        <div class="form-button-wrapper">
            <app-button [disabled]="!formBuild.valid" label="Add" (onClick)="onAdd()"></app-button>
            <app-button label="Cancel" (onClick)="onCancel()"></app-button>
        </div>
    </form>

</div>