.builds {
    position: relative;
    &-navigation {
      position: absolute;
      left: -300px;
      top: 60px;
    }
  
    &-header {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 50px;
    }
  
    &-btn {
      margin-left: 35px;
    }
  }
  