@import "colors.scss";

.header {
    margin-bottom: 25px;    
    display: flex;
    flex-flow: row nowrap;
    >*:not(:first-child){
        margin-left: 15px;
    }

    &-icon {
        color: #333;
        font-size: 45px;
    }

    &-text {
        line-height: 45px;
        font-size: 25px;
        color: #333;
        font-weight: bold;
        white-space: nowrap;
    }
    &-collapse {
        cursor: pointer;
    }

    &-divider {
        margin-top: 22.5px;
        height: 1px;
        background: #333;
        width: 100%;
        &--small {
            width: 40px;
        }

        &--medium {
            width: calc(40px + 42px + 15px + 30px);
        }
    }
}

.groups-wrapper {
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.list {
    margin-bottom: 20px;
    display: block;
}

