@import "colors.scss";

.item {
  background-color: $color-white;
  border: 1px solid #9ba2ab;
  font-size: 22px;
  padding-left: 50px;
  height: 125px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;

  &-name {
      margin-top: 16px;
      margin-bottom: 10px;
  }

  &-info {
    font-size: 14px;
    margin-bottom: 3px;
    padding-left: 4px;
  }

  &-block_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
    position: absolute;
    left: 400px;
    bottom: 0;
    width: calc(100% - 450px);
  }
  
  &-block {
    
    margin-top: auto;
    height: 60px;
    width: 17px;
  }

  &-block--failed {
    
    margin-top: auto;
    height: 17px !important;
  }
}
