@import "colors.scss";

.item {
  height: 75px;
  display: flex;
  flex-flow: row nowrap;
  background-color: $color-white;
  border: 1px solid $color-stroke;
  padding-left: 50px;
  padding-right: 63px;

  font-size: 24px;
  line-height: 75px;
  position: relative;

  &-status {
    position: absolute;
    width: 17px;
    height: 75px;
    left: 0px;
  }

  // HACKY FOR PRESENTATION
  &-prelabel {
    margin-right: 100px;
    margin-top: 7px;
    width: 230px;
    font-size: 80%;

    line-height: 30px;

    overflow-wrap: break-word;
  }
  &-suflabel {
    margin-left: auto;
  }

  &--clickable {
    cursor: pointer;
  }
}
