@import "colors.scss";

.item {
  height: 75px;
  display: flex;
  flex-flow: row nowrap;
  background-color: $color-white;
  border: 1px solid $color-stroke;
  padding-left: 50px;
  padding-right: 63px;

  font-size: 24px;
  line-height: 75px;
  position: relative;

  &-status {
    position: absolute;
    width: 17px;
    height: 75px;
    left: 0px;
}

&-prelabel {
    width: 240px;
}
&-suflabel{
    margin-left: auto;
};

  &--clickable {
    cursor: pointer;
  }
}
