.app {
    padding-top: 50px;
    width: 1400px;
    margin: 0 auto;
}

.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.container {
    padding-top: 80px;
    width: 77%;;
}


.navbar {
    width: 23%;
}