.app {
  &-header {
    position: absolute;
    top: 142px;
    left: 115px;
  }

  &-wrapper {
    margin-left: 540px;
    margin-top: 220px;
    margin-right: 240px;

    &--navbar {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.container {
  padding-top: 80px;
  width: 77%;
}

.navbar {
  width: 23%;
}
